*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.wrapper{
    display: grid;
    height: 100vh;
    border: 1px solid red;
    grid-gap: 10px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}
.navebar{
    grid-row: 1/-1;
    background-color: aqua;
    border-radius: 7px;
}
.header{
    grid-column: 2/-1;
    background-color: aqua;
    border-radius: 7px;
}
.article{
    padding-top: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;

    grid-row: 2/5;
    grid-column: 2/5;
    background-color: aqua;
    border-radius: 5px;

}
.add{
    padding-top: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;

    border-radius: 5px;

    grid-row: 2/5;
    background-color: aqua;

}
.footer{
    grid-column: 2/-1;

}
.navcontent{
    font-family:   Arial, sans-serif;
    font-size: 30px;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.navcontent h2{
    color: white;
    text-transform: uppercase;
    position: relative;

}
.navcontent  span{
    color: white;
    text-transform: uppercase;
    /* position: relative; */
}
.navcontent h2::before{
    content:"mutayyab_imran";
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    color: rgba(69, 232, 69, 0.871);
    border-right:  1px solid rgba(69, 232, 69, 0.871);
animation: slide 3s linear infinite ;
overflow: hidden;
}
@keyframes slide {
    0%{
     width: 0%;   
    }
    50%{
        width: 100%;   

    }
    100%{
        width: 0%;   

    }

}
li sub{
    font-size: 16px;
    margin-top: 10px;
    padding-left: 10px;
}
.content{
    display: flex;
    width: 100%;
    height: 100%;
}
.content ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
background-color: bisque;
}
.content ul li{
    padding-top: 30px;
    width: 51.85vh;
    padding-bottom: 30px;
  
}
.content ul a{
    text-decoration: none;
    align-items: flex-start;
    justify-content: left;
    font-size: 25px;
    padding-left: 100px;
    
}
.btn{
    text-align: center;
    border: 1px solid blanchedalmond;
    height: 100%;
    width: 51.85vh; 
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: center;
  color: black;
    background-color: beige;
    
    
}
.btn:hover{
  background-color: blanchedalmond;
  color: blueviolet;
}
.btn:active{
    transform: scale(0.95);
}

footer{
    height: 100%;
}
.footcontent{
    height: 100%;
  background-color: transparent;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    width: 100%;
    font-family: cursive;
}
.footcontent a{
    text-decoration: none;
    color: black;
    padding: 0 5px 0 5px;
}
.footcontent a:hover{
color: blueviolet;
}
.footcontent a:active{
    transform: scale(0.95);

}


















