*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    box-sizing: border-box;
}
.container .body {
    margin: auto;
    width: 60%;
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    background-color: rgb(211, 211, 211);
    background-blend-mode:hard-light ;
border-radius: 1px;
}
.box-1{
    
    text-align: center;
padding-left: 10px;
font-weight: bold;    
    background-color:#9FBB69;
    color: whitesmoke;
border: 2px solid #9FBB69;
border-radius: 10px;
width: 60%;
margin: auto;
padding: 20px;
}
.box-1 h2{
    margin: 0;
    font-size: 35px;
}
.p{
    margin-top: 0px;
    margin: 0;
   
    
}
.body{
/* border: 2px solid red; */
padding-left: 10px;

}
label{
    width: 100%;
}
input[type="text"],input[type="email"],textarea
,input[list="Subject"]
{
    margin: 5px;
    padding: 5px;
    width: 100%;
}

form{
    padding: 10px;
}

label{
    font-size: 20px;
    padding-left: 3px;
}
input[type="submit"]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}
input[type="submit"]:hover{
    background-color:#9FBB69;
color: white;
letter-spacing: 05px;

}
